  body{
    background-color:lightblue;
      }
      p{
        color:orange;
      }
      #parrafo_2{
        color:gray
      }
      .front_page{
        background-color: green;
      }
